body {
    width: 100%;
    height: 100%;
    background-color: #eee;
    font-family: "Arial", Bold;
}
#app-container{
    padding:0 16px;
}
.light-mode{
    background-color: #F1F9FF;
}
.dark-mode{
    background-color: #7FC4FD;
}

